{% include 'main/base.html' %}

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            
        </tr>
    </thead>
    <tbody>
        {% for usuario in object_list %}
        <tr>
            <td>{{usuario.nome}}</td>
            <!--
                <td>
                {% if usuario.ativo %}
                Online
                {% else%}
                Offline
                {% endif %}
            </td>
            -->
        </tr>
        {% endfor %}
    </tbody>
    
</table>