{% include 'main/base.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <div>
        <form method="POST" style="margin: auto; width: 220px;">
            {% csrf_token %}
            <div class="form-group row">
              <label for="username" class="col-4 col-form-label">Username</label> 
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-user"></i>
                    </div>
                    {{form.username}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="password1" class="col-4 col-form-label">Senha</label> 
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </div>
                    {{form.password1}}
                  </div> 
                  
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="password2" class="col-12 col-form-label">Confirme sua senha</label> 
              <div class="col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </div>
                    {{form.password2}}
                  </div> 
                
                </div>
              </div>
            </div> 
            <div class="form-group row">
              <div class="col-2">
                <button name="submit" type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </form>
    </div>
</div>