<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Usuários</title>
</head>
<body>
    <a href="{%url 'home'%}">Home</a>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Data de Nascimento</th>
                <th>Data de Entrada</th>
                <!--<th>Ativo</th>-->
                <th>Departamento</th>
                <th>Editar</th>
                <th>Excluir</th>
                
            </tr>
        </thead>
        <tbody>
            {% for usuario in object_list %}
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.rg}}</td>
                <td>{{usuario.data_nascimento|date:"d/m/Y"}}</td>
                <td>{{usuario.data_entrada|date:"d/m/Y"}}</td>
                <td>{{usuario.departamento}}</td>
                <!--
                    <td>
                    {% if usuario.ativo %}
                    Online
                    {% else%}
                    Offline
                    {% endif %}
                </td>
                -->
                <td>
                    <a href="{%url 'usuario.editar' usuario.pk %}">Editar</a>
                </td>
                <td>
                    <a href="{%url 'usuario.excluir' usuario.pk %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>