{% if user.is_authenticated %}
    <!--
        <a href="{%url 'home'%}">Home</a>
        <a href="{%url 'usuario.index'%}">Usuários</a>
        <a href="{%url 'usuario.novo'%}">Novo Usuário</a>
        <a href="{%url 'usuario.register'%}">Registrar Login</a>
        <a href="{%url 'logout'%}">Sair</a>

    -->

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sistema de Acesso Academico</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon position-relative"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">SAA</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'usuario.index'%}">Lista de Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'usuario.novo'%}">Cadastrar Usuário</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'professor.novo'%}">Cadastrar Professor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'disciplina.novo'%}">Cadastrar Disciplina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
{% endif %}